.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1; /* Coloca la barra de navegación por encima del contenido blanco */
}

/* Estilo para el fondo de la barra de navegación */
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(10px);
  z-index: -1; /* Coloca el fondo detrás del contenido blanco */
}

.logo {
  font-size: var(--xl);
  font-weight: bold;
  color: #000000;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: var(--sm);
}

.nav-links a:hover {
  color: #00bcd4;
}

@media (max-width: 767px) {
  .navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    margin-bottom: 12px;
  }
  .nav-links li {
    margin: 4px;
  }
}